@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'MiamaRegular';
    src: url('../fonts/Miama-webfont.eot');
    src: url('../fonts/Miama-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Miama-webfont.woff') format('woff'),
         url('../fonts/Miama-webfont.ttf') format('truetype'),
         url('../fonts/Miama-webfont.svg#MiamaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---universal rules---*/

* {
	margin: 0;
	padding: 0;
	}
	
body {
	background-color: #fff;
	color: #333;
	}

a {
	color: inherit;
	text-decoration: none;
	}

a img {
	border: none;
	}

h1 {
	font: normal 3.5em Gill Sans, Arial, sans-serif;
	color: #999;
	#font-stretch: expanded;
	#letter-spacing: 3px;
	margin: 70px 0 -15px 0;
	#color: rgba(51,51,51,0.4);
	#color: #777;
	}

li.ke {
	font: normal 2em Gill Sans, Arial, sans-serif;
	text-decoration: none;
	color: rgba(51,51,51,0.4);
	}

li.ke a {
	text-decoration: none;
	}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	margin: 15px 0;
	font-stretch: expanded;
	}
	
h2.res_title {
	margin: 40px 0 0 10px;
	}

ul.res_gal {
	float: right;
	margin: 0px 0;
	font: normal 12px Tahoma, Geneva, sans-serif;
	color: #777777;
	}
	
#container {
	width: 925px;
	margin: 0 auto;
	}	
#res_container {
	width: 865px;
	margin: 0 auto;
	}

ul {
	list-style-type: none;
	}

/* ---end universal rules---*/

/* ---home page---*/

/* image hover effect */
ul.gallery {
	width: 885px; /*--Adjust width--*/
	list-style: none;
	margin: 0; padding: 0;
	}


ul.gallery > li {
	float: left;
	position:relative;
	margin-right: 1px; 
	padding: 0;
	text-align: center;
	display: inline; /*--Gimp Fix aka IE6 Fix - Fixes double margin bug--*/
	}

ul.gallery li a.thumb {
	height: 168px; /*--Height of image--*/
	cursor: pointer;
	display: block;
	
	}
	
ul.gallery li span { /*--Used to crop image--*/
	height: 168px; /*--Height of image--*/
	overflow: hidden;
	display: block;
	}

	ul.gallery li.one a.thumb, ul.gallery li.one, ul li.one ul li, ul.gallery li.one span  {
		width: 160px; /*--unique widths--*/
		}
	ul.gallery li.two a.thumb, ul.gallery li.two, ul li.two ul li, ul.gallery li.two span  {
		width: 178px;
		}
	ul.gallery li.three a.thumb, ul.gallery li.three, ul li.three ul li, ul.gallery li.three span  {
		width: 129px;
		}
	ul.gallery li.four a.thumb, ul.gallery li.four, ul.gallery li.four span  {
		width: 132px;
		}
	ul.gallery li.five a.thumb, ul.gallery li.five, ul.gallery li.five span  {
		width: 131px;
		}
	ul.gallery li.six a.thumb, ul.gallery li.six, ul.gallery li.six span  {
		width: 147px;
		}
	
ul.gallery li a.thumb:hover {
	background: #333; /*--Hover effect for browser with js turned off--*/
	}

ul.gallery li a {
	text-decoration: none; 
	font: normal 12px Tahoma, Geneva, sans-serif;
	color: #777; 
	display: block;
	}
	
/* end hover effect */

/* begin hover menu */


ul.res_gal > li{
	float: left;
	position:relative;
	margin-right: 10px; 
	padding: 0 5px;
	text-align: center;
	display: inline; /*--Gimp Fix aka IE6 Fix - Fixes double margin bug--*/
	}

		.gallery > li:hover, .res_gal > li:hover {
			background-color:#eee;
			}


		.gallery li a:hover {
			#color:#777;
			}
	
		/* you can make a different style for default selected value */
		.gallery li a.selected {
			color:#f00;
			}
	
		/* submenu, it's hidden by default */
	.gallery ul {
		position:absolute; 
		left:0; 
		display:none; 
		#margin:0 0 0 -1px; 
		padding:0; 
		list-style: none;
		}
			
			.res_gal ul {
			position:absolute; 
			left:0px; 
			display:none; 
			#margin:0 0 0 -1px; 
			padding:0; 
			list-style: none;
			}
	
		.gallery > li:hover ul, .res_gal > li:hover ul {
			background-color:#eee;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff');
			background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
			background-image: -moz-linear-gradient(top, #eee,  #fff);
			}
			
		.re_gal ul li {
			display: block;
			float: right;
			}
			
		.gallery ul li {
			#width:100px; 
			#padding: 3px 0 7px 0;
			float: left; 
			#border-top:1px solid #fff;
			}
		
		/* display block will make the link fill the whole area of LI */
		.gallery ul li a {
			display:block;  
			float: none;
			line-height: 16px;
			#height:10px;
			padding: 3px 0; 
			color: #777; 
			}
		
		.res_gal ul li a {
			display: block;  
			line-height: 16px;
			#height:10px;
			padding: 3px 0; 
			color: #777; 
			}
		
		.gallery ul a:hover, .res_gal ul a:hover {
			text-decoration: none;	
			font-weight: bold;
			#background-color:rgba(255,255,255, 0.5);
			}
li p{
	padding: 3px 0;
	}
	
#contact {
	float: right;
	margin-right: 50px;
	margin-top: 150px;
	text-align: right;
	}
